:root {
  font: 16px / 1 sans-serif;
  background-color: #e1f1f2;
  margin: auto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: #445566;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  color: #445566;
}

h3 {
  color: #445566;
  margin: 0;
}

nav {
  background-color: #45bcd2;
  padding: .1px;
}

footer {
  background-color: #d3d3d3;
  padding: .1px;
}

nav ul, footer ul {
  text-align: center;
  list-style: none;
}

nav li, footer li {
  display: inline;
  padding: 1rem;
}

nav a {
  color: white;
}

footer a {
  color: black;
}

div {
  display: flex;
  padding: 2rem;
}

aside {
  margin-left:2rem;
  padding:5px;
  border: 1px solid #10889E;
}

main {
  margin-left: 2rem;
}




